:80 {
	root * /srv/
	reverse_proxy /api/* http://dts-server:54321

	@stripExtensions path_regexp strip (.*)\.(html)
	redir @stripExtensions {re.strip.1} 301

	try_files {path} {path}/ {path}.html
	#   try_files {path}.html
	file_server {
		hide .git
	}

	log {
		output file /var/log/caddy/my-static-site.log
	}
}
